@media (min-width: 992px) {
    .edit {
        right: 20px;
        top: 70px;
        width: inherit !important;
    }
    .sidebar {
        height: 130vh !important;
    }
    footer {
        display:block !important;
    }
    /* CUSTOM WIDTHS */
    .w-lg-10 { width: 10%!important; }
    .w-lg-15 { width: 15%!important; }
    .w-lg-20 { width: 20%!important; }
    .w-lg-50 { width: 50%!important; }
    .w-lg-60 { width: 60%!important; }
    .w-lg-70 { width: 70%!important; }
}
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-10 { width: 10%!important; }
    .w-sm-15 { width: 15%!important; }
    .w-sm-20 { width: 20%!important; }
    .edit {
        
    }
    footer {
        display: none ;
    }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-10 { width: 10%!important; }
    .w-md-15 { width: 15%!important; }
    .w-md-20 { width: 20%!important; }
    .edit {
        right: 20px;
        top: 70px;
        width: 55%;
    }
    .sidebar {
        height: 100vh;
    }
    footer {
        display:block !important;
    }
}
.w-40 { width: 40%!important; }
.w-30 { width: 30%!important; }
.w-35 { width: 35%!important; }
.color { color: #38b6ff!important; }
.bg-color { background-color: #38b6ff!important; }
.links {
    width: 24px;
}
body {
    background-color: #efefef;
}
.icon {
    font-size: 24px;
    color: #38b6ff;
    margin-bottom: -5px;
}
.navbar .navbar-nav .nav-item .active {
    color: #38b6ff;
}
.progress-bar {
    background-color: #38b6ff;
}
.flex-column .flex-column .nav-item .light {
    color: #38b6ff;
}
.main-btn {
    background-color:#38b6ff;
}
.unidad2 {
    border: 3px solid #38b6ff;
}
.world {
    margin-bottom: -10px;
}